.side-bar{
    z-index: 2;
    position: fixed;
    background-color: var(--color-barra);
    border-radius: 60px;
    width: 70px;
    max-height: 420px;
    left: 20px;
    top: 300px;
    font-style: normal;
    /* overflow: hidden; */
}

a{
    text-decoration: none;

}

a:visited{
    text-decoration: none;
}


.link-side{
    display: block;
    white-space: nowrap;
    margin: 30px 0px;
    padding-left: 20px;
    word-spacing: 15px;

    cursor: pointer;
}

.link-side p{
    display: inline-block;
    font-style: normal;
    font-size: 0.8rem;
    text-align: center;
    align-items: center;
    margin-left: 30px;
    padding: 0px 10px;
    
    clip-path: polygon(0 0, 0 0, 0 95%, 0% 100%);
    transition: clip-path 1s 0.5s;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    
    /* backdrop-filter: blur(20px); */
}

.icon{
    font-size: 1rem;
    color: var(--color-iconos-barra);
    text-align: center;
    align-items: center;
}

.side-bar:hover .link-side p{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.link-side p:hover{
    transition: background-color 1s;
    /* box-shadow: 2px 4px 10px #828282; */
    background-color: var(--color-barra);
}