* {
    margin: 0;
}

.content{
    padding: 20px 100px 0px;
    /* margin-left: 120px; */
    /* margin-top: 50px; */
}


.grid-2,.grid-3{
    display: grid;
    
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    /* padding: 10px 70px 0px 10px; */
}


.grid-2{
    grid-template-columns: 50% 50%;
}

.grid-3{
    grid-template-columns: 33% 33% 33%;
}

/* *Noticia */

.news{
    /* max-height: ; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    min-height: 350px;
    padding: 0px 10px 10px;
    
    overflow: hidden;

    transition: box-shadow 0.5s;

}

.news, img{
    
    border-radius: 5px;
}

.news{
    /* padding: 20px ; */
    
    /* display: grid; */
    /* grid-template-rows: 60% 1fr; */
    /* border: 1px solid var(--color-iconos-barra); */
    /* background-image: url(/img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

.news h4,.news h2, .news h3{

}

.news h2{
    color: #0D1321;
}


img{
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: -1;
    opacity: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.category{
    /* margin: 20px 20px 200px 20px; */
    /* backdrop-filter: blur(40px); */
    /* padding: 0px 20px; */
    display: inline-block;
    font-size: 0.6rem;
    color: var(--color-categoria);
    padding: 0px 5px;

    background-color: var(--color-categoria-fondo);
    border-radius: 10px;

    text-align: center;
    /* text-shadow:  2px 2px 5px #fff; */
}

.catIcon{
    font-size: 0.6rem;
}

h3{
    color: var(--color-fuente);
    font-size: 0.7rem;
}

h2{
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

h4{
    font-size: 0.6rem;
    color: var(--color-fuente);
    margin-bottom: 10px;
}

.news-info{
    position: relative;
    overflow: hidden;

    padding: 0px 20px 10px;
}

.info{
    padding: 10px 40px 20px 40px;
    background-color: var(--color-info);
    border-radius: 0px 0px 4px 4px;
    opacity: 0.8;

    position: absolute;
    /* bottom: 0; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    /* backdrop-filter: blur(50px); */
    /* color: #000; */
    /* overflow: hidden; */

}

.news:hover{
    box-shadow: 2px 4px 10px rgb(150, 150, 150);
}