* {
    margin: 0;
}



.grid-2,.grid-3{
    display: grid;
    
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    /* padding: 10px 70px 0px 10px; */
}



@media screen and (min-width: 1300px){
    .content{
        padding: 0px 100px 50px;
        
    }

    .grid-2{
        grid-template-columns: 50% 50%;
    }
    
    .grid-3{
        grid-template-columns: 33% 33% 33%;
    }
}


@media screen  and (max-width: 1300px) {
    .content{
        padding: 0px 60px 50px;
    }

    .grid-2{
        grid-template-columns: 100%;
    }
    
    .grid-3{
        grid-template-columns: 50% 50%;
    }

    .big{
        grid-column: auto / span 2;
    }
}

@media screen and (max-width: 800px) {
    .content{
        padding: 0px 30px 50px;
    }

    .grid-2{
        grid-template-columns: 100%;
    }
    
    .grid-3{
        grid-template-columns: 100%;
    }

    .big{
        grid-column: auto;
    }

}

@media screen and (max-width: 650px) {
    .content{
        padding: 0px 10px 50px;
    }  
    *{
        font-size: 26px;
    }
}



.content{
    display: flex;
    flex-direction: column;
}

/* *Noticia */

.news{
    /* max-height: ; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    min-height: 350px;
    padding: 0px 10px 10px;
    
    overflow: hidden;

    transition: box-shadow 0.5s;

}

.news, img{
    
    border-radius: 5px;
}

.news{
    /* padding: 20px ; */
    
    /* display: grid; */
    /* grid-template-rows: 60% 1fr; */
    /* border: 1px solid var(--color-iconos-barra); */
    /* background-image: url(/img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

.news h4,.news h2, .news h3{

}

.news h2{
    color: #0D1321;
}


img{
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: -1;
    opacity: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.category{
    /* margin: 20px 20px 200px 20px; */
    /* backdrop-filter: blur(40px); */
    /* padding: 0px 20px; */
    display: inline-block;
    font-size: 0.6rem;
    color: var(--color-categoria);
    padding: 0px 5px;

    background-color: var(--color-categoria-fondo);
    border-radius: 10px;

    text-align: center;
    /* text-shadow:  2px 2px 5px #fff; */
}

.catIcon{
    font-size: 0.6rem;
}

h3{
    color: var(--color-fuente);
    font-size: 0.7rem;
}

h2{
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

h4{
    font-size: 0.6rem;
    color: var(--color-fuente);
    font-weight: 400;
}

.date{
    margin-bottom: 10px;
}

b{
    font-size: 0.6rem;

}

.news-info{
    position: relative;
    overflow: hidden;

    padding: 0px 20px 10px;
}

.info{
    padding: 10px 40px 20px 40px;
    background-color: var(--color-info);
    border-radius: 0px 0px 4px 4px;
    opacity: 0.8;

    position: absolute;
    /* bottom: 0; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    /* backdrop-filter: blur(50px); */
    /* color: #000; */
    /* overflow: hidden; */

}

.news:hover{
    box-shadow: 2px 4px 10px rgb(150, 150, 150);
}

.float-btn{
    position: fixed;
    z-index: 2;
    /* display: flex; */
    /* justify-content: flex-end; */
    bottom: 50px;
    right: 30px;
    box-shadow: 2px 4px 10px rgb(69, 69, 69);
    border: none;
    border-radius: 100%;

    width: 50px;
    height: 50px;
    background-color: var(--color-categoria-fondo);
    cursor: pointer;
    transition: bottom 0.2s ease-in;
}

.float-btn:hover{
    bottom: 55px;
}

.btnMore{
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10px 20px;
    margin-top: 30px;

    font-size: 0.8rem;
    align-self: center;

    background-color: var(--color-titulos);
    color: var(--color-info);
    /* border:none; */
    border: 2px solid var(--color-info);

    border-radius: 5px;
    cursor: pointer;

    -webkit-box-shadow: 3px 3px 20px 3px #9f9f9f;
    -moz-box-shadow: 3px 3px 20px 3px #9f9f9f;
    box-shadow: 3px 3px 20px 3px #9f9f9f;

    transform: translateY(-3px);
    transition: all 0.3s ease-in;
}

.btnMore:hover{
    transform: translateY(0px);

    background: #fff;
    color: var(--color-titulos);
    border: 2px solid var(--color-titulos);

    -webkit-box-shadow: 3px 3px 3.5px 3px #9f9f9f;
    -moz-box-shadow: 3px 3px 3.5px 3px #9f9f9f;
    box-shadow: 3px 3px 3.5px 3px #9f9f9f;

}



.searched{
    /* border: 1px solid black; */
    /* border-radius: ; */
    display: flex;
    

    font-size: 0.8rem;

    font-style: italic;
    letter-spacing: 1px;
    color: var(--color-fuente);
    display: none;
    font-weight: 600;

    position: relative;
    margin: 5px;
    padding: 5px 20px;

    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    border-radius: 5px;
    cursor: pointer;


}

.searched:hover{
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;

}

/* .searchClose{
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    font-style: normal;
    font-size: 0.5rem;


} 

.searchClose:hover{
    font-weight: 900;
    text-shadow: 2px 2px 4px var(--color-categoria);

}*/

#searched{
    font-size: 0.8rem;
    letter-spacing: 0px;
    font-weight: 400;
}

.no-result{
    margin: 20px 0px;
}