.search{
    margin: 0 auto;
    padding: 20px 0px;
    align-items: center;
    text-align: center;
    /* min-width: 200px; */
}

::placeholder{
    text-align: center;
    /* font-style: italic; */
    font-weight: 600;
    color: var(--color-search-bar);
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
}

form{
    display: inline-block;
}

.search-btn{
    font-size: 0.6rem;
    border: none;
    background-color: transparent;
    padding: 1px;
    color: var(--color-search-bar);
}

.search-btn i{
    font-size: 0.7rem;
}

.search-inp{
    font-size: 0.7rem;
    height: 100%;
    width: 90%;
    border: 0px;
    border-bottom: 1px solid var(--color-search-bar);
    padding: 0px 10px 7px;
    margin:  0px 10px;

    outline: none;
    display: inline-block;
}


@media screen and (min-width: 1400px) {
    .search-inp{
        width: 900px;
    }
    
} 

@media screen and (max-width: 1400px) {
    .search-inp{
        width: 800px;
    }
    
} 

@media screen and (max-width: 900px) {
    .search-inp{
        width: 600px;
    }
} 

@media screen and (max-width: 700px) {
    .search-inp{
        width: 400px;
    }
    
} 

@media screen and (max-width: 510px) {
    .search-inp{
        width: 300px;
    }
} 

@media screen and (max-width: 420px) {
    .search-inp{
        width: 250px;
    }
} 


/* * Barra */

.header-container{
    background-color: var(--color-titulos);
    color: var(--color-info);
    width: 100%;
    padding: 5px 0px;
}

h1{
    text-align: center;
    font-size: 2rem;
}

a{
    text-decoration: none;

}

a:visited{
    text-decoration: none;
}


.link-side{
    /* display: block; */
    white-space: nowrap;
    margin: 30px 0px;
    padding-left: 20px;
    word-spacing: 15px;

    cursor: pointer;
}

.link-side p{
    display: inline-block;
    font-style: normal;
    font-size: 0.8rem;
    text-align: center;
    align-items: center;
    margin-left: 30px;
    padding: 0px 10px;
    
    clip-path: polygon(0 0, 0 0, 0 95%, 0% 100%);
    transition: clip-path 1s 0.5s;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    
    /* backdrop-filter: blur(20px); */
}

.icon{
    font-size: 1rem;
    color: var(--color-iconos-barra);
    text-align: center;
    align-items: center;
}

.side-bar:hover .link-side p{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.link-side p:hover{
    transition: background-color 1s;
    /* box-shadow: 2px 4px 10px #828282; */
    background-color: var(--color-barra);
}

.filter-btn{


    border: none;
    background-color: transparent;
    color: var(--color-search-bar);

    /* position: relative; */
}

.filter-btn i{
    font-size: 0.8rem;
}

.filter-btn:hover > .filter-btn i{
    border: 1px solid #000;
}

.button:hover{
    color: #000;
    cursor: pointer;
}

/* *  Eliminar btn de busqueda default */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
  appearance: none;
}


.modal{
    /* background-color: transparent; */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    z-index: 20;

    background-color: #000000ab;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease-in;


    /* ! ELIMINAR */
    /* opacity: 1; */

}

.modal-active{
    pointer-events: auto;
    opacity: 1;

}

.modal-wrap{

    
    background: #fff;
    margin:  0 auto;
    /* padding: 10px 20px; */

    text-align: left;
    position: relative;

    
    transition: all 0.5s ease-in;
    /* clip-path: polygon(52.3% 47.7%, 52.6% 48%, 52.3% 48%, 52.3% 48%); */

}

.modal-wrap form{
    width: 100%;
    
    transition: all 0.5s ease-in;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

    /* border: 1px solid #000; */
}

#form-categories div, #form-sources div{
    display: flex;
    justify-content:left;

    height: 30px;
    padding: 2px 10px;
}



/* .left{
    justify-self: baseline;
    align-self: left;
} */

.modal-wrap h2{
    display: inline-block;
    border-bottom: 1px solid #000;
    width: 100%;

    font-size: 0.9rem;
}

.modal-wrap label{
    font-size: 0.6rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    position: absolute;
    right: 20px;
    top: 5px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.filter-submit{
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    /* justify-content: center; */
    /* justify-self: center; */
    
    font-size: 0.7rem;
    margin-top: 20px;

    /* width: 300px; */
    margin: auto;
    padding: 5px 30px;

    

    border: 1px solid var(--color-info);
    background-color: var(--color-titulos);
    color: var(--color-info);

    transition: all 0.25s ease-in;
}
/* 
.filter-submit:hover{
    border: 1px solid var(--color-titulos);
    background-color: var(--color-info);
    color: var(--color-titulos);
} */

.filters{
    height: auto !important; 
}

.filter-type{
    font-size: 0.85rem;
    padding: 2px 20px;
    margin-bottom: 5px;

    border: none;
    border-bottom: solid 2px var(--color-titulos);
    background-color: transparent;
    color: var(--color-titulos);

    font-weight: 700;

    /* text-align: left; */
}

.no-border{
    border: none;
    font-weight: 300;

}

#form-categories,#form-sources{
    width: 100%;

    display: flex;
    flex-direction: column;

    clip-path: polygon(0% 0%, 100% 0%, 100.1% 100.3%, 0% 100%);
    
    /* transition: all 0.25s ease-in; */

}

.inactive{
    display: none !important;
    clip-path: polygon(0% 0%, 100% 0%, 100.1% 0%, 0% 0%) !important;

}

/* .modal-wrap-active{
        opacity: 1;

}

.open-bg{
    animation: open-modal 250ms ease-in forwards;
    animation-play-state: paused;
}

.open-wrap{
    animation: open-holder 250ms ease-in 250ms forwards;
    animation-play-state: paused;

} */

.scroll{
    overflow: hidden;
}


@keyframes open-modal{
    100%{
    }
}

@keyframes open-holder{
    100%{
        clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);

    }
}


@media screen and (min-width: 1300px){
    .modal-wrap{
        width: 800px;
        padding: 20px 20px 30px;

    }
    
    .modal-wrap form div label{
        padding: 2px 0px 0px 6px;
    }

    .modal{
        padding-top: 100px;
    }
}

@media screen  and (max-width: 1300px) {
    .modal-wrap{
        width: 750px;
        padding: 20px 20px;

    }

    .modal-wrap form div label{
        padding: 2px 0px 0px 6px;
    }

    .modal{
        padding-top: 100px;
    }
}

/* CELULARES */
@media screen and (max-width: 850px) {
    .modal-wrap{
        width: 600px;
        padding: 20px 15px;

    }

    .modal{
        padding-top: 100px;
    }
}

@media screen and (max-width: 650px) {
    .modal-wrap{
        width: 500px;
        padding: 20px 10px;
    }

    .modal-wrap form div label{
        padding: 4px 0px 0px 6px;
    }

    .modal{
        padding-top: 100px;
    }
}

@media screen and (max-width: 550px) {
    .modal-wrap{
        width: 400px;
        padding: 20px 10px;

    }

    .modal{
        padding-top: px;
    }
}

@media screen and (max-width: 400px) {
    .modal-wrap{
        width: 300px;
        padding: 20px 10px;

    }

    .modal{
        padding-top: 40px;
    }
}


/* select, input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: d;
} */