@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;1,8..60,400;1,8..60,700&display=swap');


:root{
  --color-iconos-barra: #000;
  --color-info: #F0EBD8;
  --color-titulos: #0D1321;
  --color-categoria: #748CAB;
  --color-categoria-fondo: #fff;

  --color-fuente: #293e5d;
  --color-desc: ;
  --color-search-bar: #858585;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Source Serif 4','Poppins', serif;
  font-size: 31px;

}


