.top-to-btm{
    position: relative;
}

.icon-position{
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 20;
}

.icon-style{
    background-color: var(--color-titulos);
    border: 2px solid var(--color-info);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: var(--color-info);
    cursor: pointer;
    animation: movebtn 4s ease-out infinite;
    transition: all .5s ease-in-out;
    box-shadow: 2px 4px 5px  rgb(69, 69, 69);


    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-style:hover{
    animation: none;
    background: #fff;
    color: var(--color-titulos);
    border: 2px solid var(--color-titulos);
}

@keyframes movebtn {
    0%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}